/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/*header for every page*/

body {
  padding: 2em;
}

h1 {
  color: #a5d6ef;
  display: flex;
  position: absolute;
  font-family: "Norican";
  font-size: 3em;
  top: 0.01em;
  padding-left: 0.6em;
  line-height: 1.5em;
  padding-right: 0.5em;
  padding-top: 8em;
  padding-bottom: 0.5em;
  z-index: 1;
}

main {
  padding: 5em;
  font-size: 1.15em;
  display: grid;
}

.navbar {
  overflow: hidden;
  background-color: red;
  font-family: Times;
  height: 50px;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 150px;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 250px;
  margin-left: 150px;
}

.dropbtn {
	margin-top: -15px;
	margin-left: -150px;
	font-size: 1.00em;
}


.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 15px 15px;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 230px;
  background-color: red;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -25px;
}

.dropdown-content a {
  float: none;
  border: 1px solid white;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-left: 0;
}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

section {
  margin-top: 5em;
  font-style: serif;
  font-size: 2em;

}

.logo {
  background-color: white;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35em;
  z-index: 2;


}

.flag {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2em;
  z-index: 2;

}

.slideshow {
  max-width: 100%;
  padding-left: 55%;
  background-color: #003cff;
}

/*Contact-page Styles*/

.map {
  max-width: 100%;
  display: block;
}

.input a {
  text-decoration: none;
  display: block;
  color: #003cff;
  text-decoration: none;
  padding-bottom: 3em;
  margin-left: 55em;
}

form {
  position: absolute;
  top: 53em;
}

#fb {
  max-width: 22%;
}

#linkedIn {
  max-width: 18%;
  padding-left: 0.5em;
}

#contact a {
  text-decoration: none;
  color: blue;
}

#contact li {
  padding-right: 0.5em;
}

#contact-page {
  display: grid;
  grid-template: 'b a'
                 'd e'
                 'f f';
  grid-gap: 3em;
  padding: 1em;
  padding-bottom: 0;
}

#contact-page h2 {
  color: #ff0000;
  padding-bottom: 1em;
  font-size: 1.5em;
}

#contact-page h3 {
  color: blue;
}

#contact-page ol {
  list-style: decimal;
  padding-left: 2em;
  font-size: 0.7em;
}

#contact {
  grid-area: a;
  margin-left: 6em;
  padding-left: 2em;
  border-left: black solid 0.01em;
}

#contact p {
  font-size: 0.7em;
  padding-left: 0.5em;
}

#map {
  grid-area: b;
  margin-left: 2em;
}

#map li {
  padding-top: 0.5em;
  padding-bottom: 0.3em;
  font-size: 0.7em;
  padding-left: 10em;
  background-color: #a5d6ef;
  opacity: 0.8;
}

#downtown-directions {
  grid-area: d;
  padding-right: 2em;
  border-right: black solid 0.01em;
}

#downtown-directions h3{
  padding-bottom: 2em;
}

#downtown-directions li,
#north-directions li,
#south-directions li {
  padding-bottom: 0.5em;
  font-size: 1em;
}

#north-directions {
  grid-area: e;
  padding-top: 3em;
  padding-right: 3em;
}

#north-directions h3{
  padding-bottom: 3em;
}

#south-directions {
  grid-area: f;
  margin-top: 2em;
  padding-right: 0.5em;
}

#south-directions h3 {
  padding-bottom: 2em;
}

/*Board-page Styles*/

#board-page {
  display: grid;
  grid-template: 'a b';
  grid-gap: 3em;
  padding: 3em;
  padding-bottom: 0;
}

#board-page h2 {
  color: red;
  font-size: 1.5em;
}

#officers {
  grid-area: a;
  border-right: black solid 0.01em;
  padding-right: 3em;
}

#officers h3 {
  color: blue;
  padding-top: 2em;
  padding-left: 1em;
}

#officers li:last-child {
  padding-bottom: 1em;
}

#board {
  grid-area: b;
  margin-left: 1em;
}

#officers li {
  padding-left: 3em;
  font-size: 0.7em;
  font-style: italic;
  color: black;
}

#board p {
  padding-left: 1.5em;
  font-size: 0.7em;
  font-style: italic;
  color: black;
}


#board li {
  color: blue;
  padding-top: 2em;
  padding-left: 1em;
}

/*Home-page Styles*/

#home-page {
  display: grid;
  grid-template: 'c c'
                 'b a';
  grid-gap: 3em;
  padding: 3em;
  padding-bottom: 0;
}

#news {
  grid-area: c;
  background-color: #a5d6ef;
  padding-bottom: 2em;
  padding: 1em;
  opacity: 0.8;
  border-radius: 0.2em;
}

#services {
  grid-area: b;
  border-right: black solid 0.01em;
  padding-right: 2em;
  padding-top: 0;
}

#events {
  grid-area: a;
  padding-top: 0;
}

#home-page h2 {
  color: red;
  font-size: 1.5em;
}

#home-page img {
  padding-top: 2em;
  max-width: 70%;
}

#services li {
  color: blue;
  padding-top: 2em;
  padding-left: 1em;
}

#services p {
  color: black;
  font-size: 0.7em;
  padding-left: 2em;
}

#news h3 {
  color: blue;
  padding-top: 2em;
  padding-left: 1em;
}

#news p {
  color: black;
  padding-left: 2em;
  font-size: 0.7em;
}
