/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

body {
  padding: 0em;
}

h1 {
  color: #a5d6ef;
  display: flex;
  position: absolute;
  font-family: "Norican";
  font-size: 4em;
  top: 5em;
  line-height: 1.5em;
  padding-bottom: 0.2em;
  z-index: 1;
  margin-left: 1em;
}

.navbar {
  overflow: hidden;
  background-color: red;
  font-family: Times;
  height: 50px;
}


.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  padding: 15px 15px;
  text-decoration: none;
  font-size: 1.5em;
  margin-left: 120px;
}

.dropdown {
  float: left;
  overflow: hidden;
  width: 250px;
  margin-left: 120px;
}

.dropbtn {
	margin-top: -15px;
	margin-left: -120px;
}


.dropdown .dropbtn {
  border: none;
  outline: none;
  color: white;
  padding: 15px 15px;
  background-color: inherit;
  font-family: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: blue;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 230px;
  background-color: red;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-top: -25px;
}

.dropdown-content a {
  float: none;
  border: 1px solid white;
  color: white;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-left: 0;
}

.dropdown-content a:hover {
  background-color: blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.logo {
  background-color: white;
  max-width: 15%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 35em;
}

.flag {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  z-index: 2;
}

.slideshow {
  max-width: 100%;
  padding-left: 56.3%;
  background-color: #003cff;
  z-index: 2;
}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.fixedDrop {
  position: fixed;
  top: 70px;
  z-index: 1;
}

.sponsors {
  max-width: 100%;
}

#page {
	height: auto;
	width: 900px;
	margin-left: auto;
	margin-top: 70px;
	margin-right: auto;
	font-size: 1.4em;
}

section#faqintro {
	width: 700px;
	margin-top: 50px;
	margin-bottom: 50px;
}

section.faqbody {
	width: 700px;
	margin-top: 20px;
	margin-bottom: 20px;
}

h2.faqh2 {
	font-size: 2.2em;
	color: blue;
	margin-bottom: 20px;
}

h3.faqh3 {
	font-size: 1.05em;
	color: red;
	margin-bottom: 15px;
}

h3.buttonprompt {
	text-align: center;
	font-size: 1.15em;
	margin-top: 15px;
	margin-bottom: 15px;
}

p.introbody {
	font-size: 1.05em;
	margin-left: 30px;
}

p.faqbody {
	font-size: 0.95em;
	margin-bottom: 15px;
	margin-left: 30px;
}

ol#memsteps {
	margin-left: 50px;
}

ol#memsteps > li {
	margin-bottom: 10px;
}

ul#memben {
	margin-left: 50px;
}

ul#memben > li {
	margin-bottom: 10px;
}

div#registerbutton {
	position: absolute;
	margin-left: 800px;
	margin-top: -700px;
	border: 3px solid blue;
	width: 300px;
	height: 150px;
}

button#regbut {
	color: white;
	background-color: red;
	margin-left: 105px;
}
